<mat-card>
    <div class="button_list">
        <mat-card-title>
            Novo Estudante
        </mat-card-title>
        <a>
            <button mat-raised-button color="primary" routerLink="/library/students/list">Estudantes Cadastrados</button>
        </a>
    </div>

    <mat-card-content>
        <mat-form-field>
            <mat-label for="name">Nome</mat-label>
            <input matInput placeholder="Digite o nome" type="text" name="nome" [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="cpf">CPF</mat-label>
            <input matInput placeholder="Digite o cpf" type="text" name="cpf" [(ngModel)]="cpf">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="address">Endereco</mat-label>
            <input matInput placeholder="Digite o endereco" type="text" name="address" [(ngModel)]="address">
        </mat-form-field>
    </mat-card-content>

    <button routerLink="/library/students/list" mat-raised-button color="primary" (click)="register()">Cadastrar</button>
</mat-card>


