
<mat-card>
    <mat-card-title>
        Editar Livro
    </mat-card-title>

    <mat-card-content>
        <mat-form-field class="example-full-width" >
        <mat-label for="cod">Codigo</mat-label>
        <input matInput placeholder="Codigo" type="text" name="cod" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
        <mat-label for="title">Titulo</mat-label>
        <input matInput placeholder="Titulo" type="text" name="title" />
        </mat-form-field>
    </mat-card-content>

    <button mat-raised-button color="primary" >Salvar</button>
    <button class="margin_cancelar" mat-raised-button color="primary" routerLink="/register/list">Cancelar</button>
</mat-card>
  