<a routerLink="/library/students/register">Cadastrar estudante</a>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nome do estudante</th>
            <th>CPF</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student._id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.cpf}}</td>
            <td>{{student.address}}</td>
            <td>
                <a routerLink="/library/students/register">
                    <button mat-raised-button color="primary">Editar</button>
                </a>
                <a class="margin_acoes" routerLink="">
                    <button mat-raised-button color="warn">Deletar</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>