<mat-card>
    <div class="button_list">
      <mat-card-title>
        Editar Estudante
      </mat-card-title>
    </div>
  
    <mat-card-content>  
      <mat-form-field class="example-full-width" >
        <mat-label for="name">Nome</mat-label>
        <input matInput placeholder="Nome" type="text" name="name"/>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label for="cpf">Cpf</mat-label>
        <input matInput placeholder="Cpf" type="text" name="cpf" />
      </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label for="address">Endereço</mat-label>
        <input matInput placeholder="Endereço" type="text" name="address"/>
    </mat-form-field>
    </mat-card-content>

    <button mat-raised-button color="primary">Salvar</button>
    <button class="margin_cancelar" mat-raised-button color="warn" routerLink="/register/students/list/">Cancelar</button>
  </mat-card>