
<table mat-table [dataSource]="book" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let book"> {{book._id}} </td>
  </ng-container>
  
  <ng-container matColumnDef="cod">
    <th mat-header-cell *matHeaderCellDef> Codigo </th>
    <td mat-cell *matCellDef="let book"> {{book.cod}} </td>
  </ng-container>
  
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let book "> {{ book.title }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let book">
      <a routerLink="/register/edit/">
        <button mat-raised-button color="primary">Editar</button>
      </a>
      <a routerLink="/register/delete/">
        <button mat-raised-button color="warn">Deletar</button>
      </a>
    </td>
  </ng-container>
</table>
