<mat-card>
    <mat-card-title>Novo empréstimo</mat-card-title>

    <div class="book">
        <mat-card>
            <mat-card-title>Cadastrar Livro(s) ao empréstimo</mat-card-title>
            <mat-card-content>
                <div class="content-book">
                    <mat-form-field appearance="fill">
                        <mat-label>Código do Livro</mat-label>
                        <input matInput placeholder="Código do Livro" type="text">
                    </mat-form-field>
                    <button mat-raised-button color="primary">Adicionar Livro</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="student">
        <mat-card>
            <mat-card-title>
                
            </mat-card-title>
        </mat-card>
    </div>
</mat-card>

