<a mat-raised-button color="primary" routerLink="borrow/borrowRegister">
    <mat-icon>event</mat-icon>
    Novo empréstimo
</a>

<mat-card class="title_list">
  <mat-card-title>
    Empréstimos Cadastrados
  </mat-card-title>
</mat-card>

<table mat-table [dataSource]="borrows" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let borrow"> {{borrow._id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="estudante">
        <th mat-header-cell *matHeaderCellDef>Estudante</th>
        <td mat-cell *matCellDef="let borrow"> {{borrow.student}} </td>
    </ng-container>
    
    <ng-container matColumnDef="livros">
        <th mat-header-cell *matHeaderCellDef>Livro(s)</th>
        <td mat-cell *matCellDef="let borrow"> {{borrow.book}} </td>
    </ng-container>

    <ng-container matColumnDef="dataEmprestimo">
        <th mat-header-cell *matHeaderCellDef>Data do empréstimo</th>
        <td mat-cell *matCellDef="let borrow"> {{borrow.borrowDate}}</td>
    </ng-container>

    <ng-container matColumnDef="dataRetorno">
        <th mat-header-cell *matHeaderCellDef>Data do retorno do empréstimo</th>
        <td mat-cell *matCellDef="let borrow"> {{borrow.borrowReturn}}</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let borrow">
        <a routerLink="/borrow/borrowEdit">
          <button mat-raised-button color="primary">Editar</button>
        </a>
        <a class="margin_acoes" routerLink="">
          <button mat-raised-button color="warn">Deletar</button>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>