<mat-sidenav-container>
    <mat-sidenav mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <mat-list-item>
                <mat-icon mat-list-icon>how_to_reg</mat-icon>
                <a mat-list-item routerLink="/library/students/register">Cadastrar estudantes</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>school</mat-icon>
                <a mat-list-item routerLink="/library/students/list">Estudantes</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>school</mat-icon>
                <a mat-list-item routerLink="/library/students/edit">Editar estudantes</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
